.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: 2px;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #212121;
  max-width: 100%;
  margin: 0 0 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__input {
  max-width: 100%;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  border-width: 1px;
  border-style: solid;
  padding: 16px 12px;
}

.modal__input::placeholder {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.3);
  padding-left: 12px;
}

.modal__input:not(:placeholder-shown) {
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 12px;
}

.modal__submit-btn {
  width: 150px;
  height: 52px;
  padding: 18px, 0;
  background: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 24px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .modal__input:not(:placeholder-shown) {
    font-size: 16px;
    line-height: 16px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
